/* Estilo general del cuerpo */
body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 34, 34);
    line-height: 1.6;
    overflow-x: hidden;
    width: 100%;
    margin: 0; /* Elimina márgenes */
    padding: 1px; /* Elimina padding */
}

/*contenido esté centrado */
.container {
    margin: 0 auto;
}
 


h1, h2, h3,h4 {
    color: rgb(20, 60, 120);
}

a {
    color: rgb(0, 122, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(0, 204, 153);
    text-decoration: underline;
}
footer {
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(135deg, #0077b6, #00b4d8, #90e0ef);/*color de fondo*/
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.texto-justificado {
    text-align: justify;
}