/*imagen de perfil*/
.imagen-redonda {
    width: 140px;
    height: 140px;
    border-radius: 50%; /* le da forma redonda a la imagen*/
    object-fit: cover;
    border: 2px solid green; /* Borde verde */
    padding: 1px; /* Opcional: agrega un pequeño espacio entre la imagen y el borde */
}

/*imagenes de introduccion*/
.imagen-introduce {
    width: 300px;   
    height: 300px;
    object-fit: cover;
    padding: 1px; /* Opcional: agrega un pequeño espacio entre la imagen y el borde */
}
